# Template for environment variables
# 基本設定
FLAVOR=prod
APP_NAME=sample
APP_ID=jp.example.sample
# API通信関連
BASE_URL=https://local.example.com/api
CONNECT_TIMEOUT=10
RECEIVE_TIMEOUT=15
SEND_TIMEOUT=10
# 認証設定
USE_FIREBASE_AUTH=true
# ios/Runner/GoogleService-Info.plistのREVERSED_CLIENT_ID
GOOGLE_REVERSED_CLIENT_ID=DUMMY
